@use "./variables" as *;

*{
    font-family: $font-family;
    padding:0;
    margin:0;
    box-sizing: border-box;
}
section{
    background-color: $color-secondary;
    min-height:100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 90%;
    max-width: 400px;
    background-color: $color-primary;
    border-radius: 8px;
    overflow: hidden;
}
.display {
    background-color: $background-color;
    height: 100px;
    width: 100%;
    text-align: right;
    padding: 20px;
    font-size: 30px;
    position: relative;
  }
.display-1 {
    opacity: 0.4;
    font-size: 20px;
    height: 20px;
    overflow: hidden;
}
.result {
    position: absolute;
    bottom: 0;
    left: 10;
    font-size: 20px;
    opacity: 0.3;
  }
.all_button {
    color: $operator-background;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.button {
    border: 0.5px solid $operator-background;
    display: inline-block;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  .button:hover {
    background-color: rgb(93, 73, 8);
  }
  .btn-0 {
    grid-column: 1/3;
  }