@use "./variables" as *;

*{
    background-color:$color-primary;
    font-family: $font-family;
    padding:0;
    margin:0.5rem;
    box-sizing: border-box;
}

.output{
    border:5px $color-secondary;
    height: 10vh;
    width:40rem;
    font-weight: bold;
    background-color: $background-color;
}
.one, .two, .three,.four, .five ,.six, .seven, .eight,
.nine,.zero,.clear,.dot,.divide,.subtract,.add,.equal,.multiply,.history{
    border: 2px $color-secondary;
    height: 4rem;
    width: 10rem;
    font-size: 40px;
    font-weight: bold;
    
}
.subtract,.add,.multiply,.divide,.clear,.dot,.equal,
.history
{
    background-color: $operator-background;
    font-size: 40px;
    color:white;
}
.one,.two,.three,.four,.five,.six,.seven,.eight,.nine,.zero{
    background-color: $background-color;
}
.buttons{
    width:50em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-row-gap: 10px;
}
.subtract { grid-area: 1 / 1 / 2 / 2; }
.add { grid-area: 1 / 2 / 2 / 3; }
.clear{grid-area: 1 / 3 / 2 / 4;}
.one { grid-area: 2 / 1 / 3 / 2; }
.two{ grid-area: 2 / 2 / 3 / 3; }
.mutiply{ grid-area: 2 / 3 / 3 / 4; }
.three{ grid-area: 3 / 1 / 4 / 2; }
.four{ grid-area: 3 / 2 / 4 / 3; }
.divide{ grid-area: 3 / 3 / 4 / 4; }
.five{ grid-area: 4 / 1 / 5 / 2; }
.six{ grid-area: 4 / 2 / 5 / 3; }
.zero{ grid-area: 4 / 3 / 5 / 4; }
.seven{ grid-area: 5 / 1 / 6 / 2; }
.eight{ grid-area: 5 / 2 / 6 / 3; }
.nine{ grid-area: 5 / 3 / 6 / 4; }
.history { grid-area: 6 / 1 / 7 / 2; }
.dot { grid-area: 6 / 2 / 7 / 3; }
.equal{ grid-area: 6 / 3 / 7 / 4; }