@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Neucha&display=swap');

$color-primary: rgb(43, 32, 5);

$color-secondary: #4d0101;

$background-color: rgb(182, 182, 182);;

$operator-background: whitesmoke;

$font-family: 'Neucha', cursive;

