@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Neucha&display=swap');

$color-primary: rgb(43, 32, 5);
$color-secondary:solid maroon;
$background-color: grey;
$operator-background: rgb(57, 54, 54);
$font-family: 'Neucha', cursive;
$font-button:  30px;
$font-operators: 50px;
